*{padding: 0;
margin: 0;
font-size: 24px;
color:blue;
}

.name{font-weight: bold;
    font-size: 30px;
    color: black;
}

.data{
    color: green;
}

.mir{
    color: red;
    font-weight: bold;
}

[img]{float: left;}

.info{
        font-weight: bold;
    text-decoration: none;}

.text{
    font-style: italic;
    padding-bottom: 20px;
}

.perexod{
    font-weight: bold;
    text-decoration: none;
}

