
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #E5E5E5;
}

.container{
    width: 1170px;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
a{
    text-decoration: none;
}

                      /* header */

.header{
    background: #10B582;
    display: flex;
}

.top_header{
    display: flex;
    justify-content: center;  
}
.top_header a:hover{
    border-bottom: 2px dashed #FA9F42;
}
.top_header a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FDFDFD;
    margin: 40px 40px 64px 0px;
    border-bottom: 2px dashed transparent;
    padding-bottom: 8px;
}
.top_header a:last-child{
    margin-right: 0px;
}

.center_header{
    width: 100%;
    display: flex;
    justify-content: space-between;  
}

.center_bottom_left{
    position: relative;
    margin: 104px 0 120px 0;
}
.center_bottom_left img{
    border-radius: 0px 80px 0px 0px; 
    position: relative;
    z-index: 1; 
}

.border_left{
    width: 240px;
    height: 300px;
    border: 1px dashed #FDFDFD;
    border-radius: 0px 80px 0px 0px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.center_top_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.center_top_left img{
    margin-bottom: 30px;
}

.center_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FDFDFD;
}
.center_2 img{
    margin: 92px 0 40px 0;
}
h1{
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    text-align: center;
}
.center_2 p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 20px 0 50px 0;
    text-align: center;
}
.center_2 button{
    padding: 20px 47px;
    background: #FA9F42;
    border-radius: 0px 20px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FDFDFD;
    border: transparent;
}    

.center_3{
position: relative;
}
.center_top_right{
    position: relative;
    margin: 30px 0 101px 0;

}
.center_top_right img{
    border-radius: 80px 0px 0px 0px; 
    position: relative;
    z-index: 1; 
}
.border_right{
    width: 240px;
    height: 300px;
    border: 1px dashed #FDFDFD;
    border-radius: 80px 0px 0px 0px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.center_bottom_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  
}
.center_bottom_right p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #FDFDFD;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 199px;
    right: -41px;
    
}
.center_bottom_right img{
    position: absolute;
    bottom: 120px;
    right: 0px;
   
}

               /* numbers */

.numbers .container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.numbers{
    margin: 120px 0;
}
.numbers h2{
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #10B582;
    margin-bottom: 15px;
}
.numbers p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #353A5A;
}

        /* teachers */

.teachers .container {
    margin: 0 auto;
    display: flex;
   
    width: 100%;
  
    justify-content: space-around;
    align-items: center;
}    
.teachers_left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
  
}
.teachers_left h2{
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin-top: 65px;
}
.teachers_left p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #353A5A;
    margin: 20px 0 50px 0;
}
.teachers_left button{
    padding: 20px 38px;
    background: #10B582;
    border-radius: 0px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FDFDFD;
    border: transparent;
    width: 230px;
    height: 56px;
} 


.teachers_right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.teachers_right p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #353A5A;
    margin-top: 15px;
}

.photo_1, .photo_2, .photo_3, .photo_4, .photo_5, .photo_6 {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 30px 30px; 
}
.photo_1 img {
    border-radius: 0px 0px 0px 80px;
}
.photo_2 img {
    border-radius: 80px 0px;
}
.photo_3 img {
    border-radius: 0px 0px 80px 0px;
}
.photo_4 img {
    border-radius: 80px 0px 0px 0px;
}
.photo_5 img {
    border-radius: 80px 0px;
}      
.photo_6 img {
    border-radius: 0px 80px 0px 0px;
} 


            /* format */
.format_fon{
    background: #10B582;
    margin: 90px 0px 120px 0px;
}
.format{
    display: flex;
    margin: 0 auto;
    position: relative;
} 

.format_left{
    position: relative;
    margin: 150px 0 120px 0px;
}
.format_left img{
    border-radius: 0px 120px 0px 0px; 
    position: relative;
    z-index: 1; 
}
.border_format {
    width: 470px;
    height: 332px;
    border: 1px dashed #FDFDFD;
    border-radius: 0px 120px 0px 0px;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.format_right{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    justify-content: center;
}
.format_right h2{
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    color: #FDFDFD;
}
.format_right p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FDFDFD;
    margin: 20px 0 50px 0;
}
.format_right button{
    width: 230px;
    height: 56px;
    background: #FA9F42;
    border-radius: 0px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FDFDFD;
    border: transparent;
}

            /* courses */

.courses{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.courses_top h2{
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
}
.courses_center{
    display: flex;
    justify-content: space-between;
    margin: 60px 0px;
}
.courses_center > div{
   background: #FDFDFD;
}
.courses_center img{
    margin: 20px 20px 15px 20px;
}

.courses_center p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
    margin: 0 auto 20px 20px;
}
.courses_buttom{
    text-align: center;
}
.courses_buttom button{
    width: 230px;
    height: 56px;
    background: #10B582;
    border-radius: 0px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FDFDFD;
    border: transparent;
}

            /* banner */

.banner {
    width: 1440px;
    height: 578px;
    background: url(img/picture8.jpg);
    margin: 120px auto 120px auto;
    position: relative;
}
.banner h2{
    position: absolute;
    left: 735px;
    top: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    color: #353A5A;
}
.banner p{
    position: absolute;
    left: 735px;
    top: 280px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
}
.banner button{
    position: absolute;
    left: 735px;
    top: 402px;
    width: 230px;
    height: 56px;
    background: #FA9F42;
    border-radius: 0px 20px;
    border: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #FDFDFD;
}

            /* line */
.line{
    border: 1px solid #353A5A;
    opacity: 0.1;
    margin-bottom: 80px;
}

        /* footer */

.footer{
    display: flex;
    justify-content: space-between;
}

.footer_icons svg{
    opacity: 0.3;
    margin-right: 25px;
}
.footer_logo p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #353A5A;
    margin: 27px 0 47px 0;
}
.footer_teachers ul li a, .footer_US ul li a, .footer_contacts ul li a, .footer_questions ul li a, .footer_questions ul li p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #353A5A;
}
/* .footer_teachers ul li a:nth-child(1), .footer_US ul li a:nth-child(1), .footer_contacts ul li a:nth-child(1), .footer_questions ul li a:nth-child(1){
    font-weight: 500;
}   */

.footer_teachers ul li, .footer_US ul li, .footer_contacts ul li, .footer_questions ul li{
    list-style-type: none;
    margin-bottom: 20px;
}
.footer_teachers ul li:last-child, .footer_US ul li:last-child, .footer_contacts ul li:last-child, .footer_questions ul li:last-child{
    margin-bottom: 0px;
}
.footer_teachers ul li:first-child, .footer_US ul li:first-child, .footer_contacts ul li:first-child, .footer_questions ul li:first-child{
    margin-bottom: 31px;
}
.footer_questions ul li p a{
    text-decoration: underline;;
}






      /* line_2 */
.line_2{
    border: 1px solid #353A5A;
    opacity: 0.1;
    margin: 50px 0 30px 0;
}

        /* bottom */

.bottom p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #353A5A;
}

.bottom .container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.bottom_2{
    display: flex;
}

.bottom_2 p{
    margin-left: 30px;
}