@media all and (max-width: 1280px) 
    {  
    .container{
        width: 750px;
        max-width: 750px;
    }

    .top_header a{
        margin: 30px 40px 44px 0px;
    }

    .center_bottom_left{
        margin: 80px 0 90px 0;
    }
    .center_bottom_left img{
        border-radius: 0px 67px 0px 0px; 
        width: 200px;
    }
    .border_left{
        width: 200px;
        height: 250px;
        border-radius: 0px 67px 0px 0px; 
        left: 25px;
        bottom: 25px;
    }
    .center_2 img{
        margin-top: 70px;
    }

    h1{
        font-size: 32px;
    }
    .center_2 button {
        padding: 17px 38px;
        font-size: 14px;
    }
    .center_top_right{
        margin: 30px 0 101px 0;
    }
    .center_top_right img{
        border-radius: 67px 0px 0px 0px; 
        width: 200px;
    }
    .border_right{
        width: 200px;
        height: 250px;
        border-radius: 67px 0px 0px 0px; 
        right: 25px;
        bottom: 25px;
    }
    .center_bottom_right p {
        bottom: 163px;
    }
    .center_bottom_right img {
        bottom: 85px;
    }


    .numbers {
        margin: 80px 0;
    }
    .numbers h2 {
        font-size: 50px;
    }


    .teachers_left h2 {
        font-size: 48px;
        margin-top: 0px;
    }
    .teachers_left p {
        font-size: 13px;
    }

    .teachers_left button {
        padding: 0px;
        width: 211px;
        height: 48px;
        font-size: 14px;
    }

    .photo_1, .photo_2, .photo_3, .photo_4, .photo_5, .photo_6 {
        margin: 0px 0px 15px 15px; 
    }
    .photo_1 img {
        width: 150px;
        border-radius: 0px 0px 0px 80px;
    }
    .photo_2 img {
        width: 150px;
        border-radius: 80px 0px;
    }
    .photo_3 img {
        width: 150px;
        border-radius: 0px 0px 80px 0px;
    }
    .photo_4 img {
        width: 150px;
        border-radius: 80px 0px 0px 0px;
    }
    .photo_5 img {
        width: 150px;
        border-radius: 80px 0px;
    }      
    .photo_6 img {
        width: 150px;
        border-radius: 0px 80px 0px 0px;
    } 
    .teachers_right p {
        font-size: 12px;
    }


    .format_fon {
        margin: 70px 0px 80px 0px;
    }
    .format_left {
        margin: 96px 0 66px 0px;
    }
    .format_left img {
        width: 400px;
        border-radius: 0px 110px 0px 0px;
    }
    .border_format {
        width: 400px;
        height: 283px;
        border-radius: 0px 110px 0px 0px;
        left: 25px;
        bottom: 25px;
    }
    .format_right {
        margin-left: 67px;
    }
    .format_right p {
        font-size: 14px;
    }
    .format_right button {
        width: 200px;
        height: 50px;
        font-size: 14px;
    }
    .format_right h2 {
        font-size: 33px;
    }


    .courses_top h2 {
        font-size: 50px;
    }
    .courses_center {
        justify-content: space-around;
        margin: 40px 0px;
        flex-wrap: wrap;
    } 
    .courses_center > div {
        margin-bottom: 10px;
    }


    .banner {
        width: 1280px;
        margin: 80px auto 80px auto;
    }
    .banner h2{
        left: 550px;
        top: 120px;
        font-size: 41px;
    }
    .banner p {
        left: 550px;
        top: 280px;
        font-size: 14px;
    }
    .banner button {
        left: 550px;
        top: 402px;
        font-size: 14px;
        width: 215px;
        height: 50px;
    }


    .line {
        margin-bottom: 60px;
    }


.footer ul li > a, .footer_questions ul li p a, .footer_questions ul li p, .footer_logo p {
    font-size: 13px;
}

.bottom p { 
    font-size: 13px;
}

}




@media all and (max-width: 810px) 
    {  
    .container{
        width: 310px;
        max-width: 310px;
    }

    .header{
        display: block; 
    }
    .top_header{
        display:flex;
        flex-direction: column;
    }
    .top_header a{
        margin:0 0 5px 0;
    }

    .center_bottom_left, .center_top_right, .center_bottom_right, .border_left{
        display: none;
    }
    .center_top_left{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    .center_1{
        width: 100%;
        height: 22px;
    }
    .center_header{
        display: block;
    }
    .center_2 img{
        margin: 15px 0 10px 0;
    }
    .center_2 p{
        margin: 20px 0 20px 0;
    }
    .center_2 button{
        padding: 15px 35px;
        font-size: 14px;
        margin-bottom: 10px;
    }


    .numbers{
        margin: 30px 0;
    }
    .numbers .container{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .numbers h2{
        font-size: 40px;
    }
    .numbers p{
        font-size: 9px;
    }
    .numbers .container > div{
        margin: 0 5px 5px 0;
    }

    .teachers .container {
        display: block;
    }


    }


