@media all and (max-width: 1215px) {
    .containerNeiro{
        width: 725px;
        max-width: 725px;
    }
    @mixin text1
    {
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: #707070;
    }
    @mixin text2
    {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #333333;
    }
    @mixin text3
    {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
    @mixin h2{
        font-weight: 700;
        font-size: 30px;
        line-height: 18px;
        color: #333333;
    }

    // header

    .header_top{
        margin-bottom: 30px;
            .menu{
                a{
                    @include text1();
                    font-size: 14px;
                    line-height: 15px;
                    margin: 17px 18px 15px 0;
                }   
            }
            .network{
                a{
                    margin-left: 15px;
                }
            }
    
    }
    .header_center{
        display: none;
    }
    .header_center_mobil{
        display: none;
    }
    .header_center_media725{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img:first-child{
            width: 250px; 
        }
        .info{ 
            .info_top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img:nth-of-type(1){
                    width: 16px;
                    height: 16px;
                } 
                img:nth-of-type(2){
                    width: 16px;
                    height: 12.8px;
                }
                a:first-of-type{
                    @include text2();
                    font-size: 18px;
                    margin: 0px 16px 0px 10px;
                }
                a:last-of-type{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    color: #333333;
                    margin: 0 0px 0 9px;
                } 
            }
            p{
                @include text1();
                font-size: 15px;
                line-height: 18px; 
                margin-top: 6px;
            }
            
        }
        .personbasket{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-left: 1px solid #EEEEEE;
            position: relative;
            a:nth-of-type(1){
                margin: 10px 20px 10px 17px;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            a:nth-of-type(2){
                margin: 0 15px 0 0px;
                img{
                    width: 23px;
                    height: 30px;
                };
            }
            a:nth-of-type(3){
                img{
                    width: 30px;
                    height: 30px;
                };
            }
            .ellipse{
                background: #F07FAE;
                border-radius: 14px;
                position: absolute;
                top: 0px;
                right: -10px;
                p{
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 18px;
                    color: #FFFFFF;
                    padding: 2px 7px;
                }
            }
        }
    }
    .header_bottom{
        display: none;
    }
    .header_bottom_mobil{
        display: none;
    }
    .header_bottom_media725{
        display: block;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: 21px 0 30px 0;
        a{
            @include text2();
            font-size: 16px;
            line-height: 16px;
            padding: 17px 0px 15px 0px;
            color: #151515;
            text-align: center;
            &:hover{
                color: #333333;  
            }
        }
    }

    // banner

    .banner{
        .containerNeiro{
            display: flex;
            flex-direction: column;
            margin-bottom: 37px;    
            .board{
                width: 725px;
                height: 385px;
                margin-bottom: 20px;
                h1{
                    left: 77px;
                    top: 73px;   
                }
                img:nth-of-type(1){
                   display: none; 
                }
                img:nth-of-type(2){
                    display: block; 
                    position: absolute;
                    left: 368px;
                    top: -10px;
                 }
                p{
                    left: 77px;
                    top: 121px; 
                }
                button{
                    left: 77px;
                    top: 265px;
                }
            }
            .stand-neuro8{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                .stand, .neuro8{
                    width: 346px;
                    height: 185px;
                    h1{
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
                .stand{
                    h1{
                        left: 30px;
                        top: 30px;
                    }
                    p{
                        left: 30px;
                        top: 73px;
                    }
                    a{
                        left: 30px;
                        top: 142px;
                    }
                    img:nth-of-type(1){
                    display: none; 
                    }
                    img:nth-of-type(2){
                        display: block; 
                        position: absolute;
                        left: 212px;
                        top: 11px;
                    }
                }
                .neuro8{
                    h1{
                        left: 28px;
                        top: 29px;
                    }
                    p{
                        left: 28px;
                        top: 56px; 
                    }
                    a{
                        left: 28px;
                        top: 142px;
                    }
                    img:nth-of-type(1){
                        display: none; 
                        }
                    img:nth-of-type(2){
                        display: block; 
                        position: absolute;
                        left: 201px;
                        top: -18px;
                    }
                }
            }
        }    
    }

    // hat шапка для блоков

    .hat{
        margin-bottom: 23px;
        a:nth-child(1){
            font-size: 25px;
        }
    }
    
    // productsmonth
    .products{
        ul{
            li:nth-of-type(4){
                display: none;
            }
        }
    }
    .products_mobil{
        display: none;
    }
    // products описание стилевых свойств продуктов

.products1, .products2, .products3, .products4{
    width: 225px;
    height: 375px;
    
    span:nth-of-type(1){
        left: 15px;
        top: 15px;
     
    }
    span:nth-of-type(2){
        left: 15px;
        top: 43px;
    }
    img:nth-of-type(1){
        display: none;
    }
    img:nth-of-type(2){
        display: block;
        position: absolute;
        left: 20px;
        top: 40px;
    }
    h3:nth-of-type(1){
        font-size: 16px;
        line-height: 16px;
        left: 16px;
        top: 175px;
    }
    p{
        font-size: 15px;
        line-height: 16px;
        left: 16px;
        top: 209px;
    }
    .price{
        p:nth-of-type(1){
            font-size: 18px;
            left: 16px;
            top: 263px;
        }
        p:nth-of-type(2){
            font-size: 14px;
            left: 16px;
            top: 283px;
        }
    }
    .buy{
        width: 119px;
        height: 50px;
        left: 89px;
        top: 254px;
        input{
            left: 4px;
        }
        button{
            width: 67px;
            height: 52px;
        }
    }
    a{
        padding: 12px 59px 10px 59px;
        left: 15px;
        top: 319px; 
    }
    }
    .products2{
    img:nth-of-type(2){
        display: block;
        position: absolute;
        left: 44px;
        top: 24px;
    }
    }
    .products3{
    h3:nth-of-type(1){
        display: none;
    }
    h3:nth-of-type(2){
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #333333;
        position: absolute;
        left: 16px;
        top: 175px;
    }
    img:nth-of-type(2){
        display: block;
        position: absolute;
        left: 18px;
        top: 25px;
    }
    }
    .products4{
    img{
        left: 48px;
        top: 30px; 
    }
    }   
    .products1:hover, .products2:hover, .products3:hover, .products4:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    } 


    // For neuropsychologists
    .neuropsychologists{
        margin: 47px 0 50px 0;
        .containerNeiro{
            margin-top: 47px;
            .video_products{
                .video_psychologists{
                    iframe{
                        width: 475px;
                        height: 375px;
                    }
                }
                .products{
                    ul{
                        display: block;
                        li{
                            margin-left: 0px;
                        }
                        li:nth-of-type(2){
                            display: none;
                        }
                    }
                }
            }
    
        }
    }

// Neurotrainers


// aboutus

    .aboutusAll{
        margin: 50px 0 47px 0;
        .containerNeiro{
            .hat{
                margin-top: 50px;
            } 
            .aboutus{
                display: flex;
                justify-content: space-between;
                margin: 22px 0 60px 0;
                .video1{
                    iframe{
                        width: 346px;
                        height: 273px;
                    }        
                }
                .text_certificates{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .text{
                        h6{
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 18px;
                            color: #333333;  
                        }
                        p:nth-of-type(1){
                            display: none;
                        }
                        p:nth-of-type(2){
                            display: block;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            color: #333333;
                            margin: 6px 0 10px 0;
                        }
                        p:nth-of-type(3){
                            display: none;
                        }
                    }
                    .certificates {
                        a:nth-child(even){
                            display: block; 
                        }
                        a:nth-child(odd){
                            display: none; 
                        }
                    } 
                }
            }
        }
    }


    // reviews

    .reviewsAll{
        .containerNeiro{
            .reviews{
                display: flex;
                justify-content: space-between;
                .review2, .review1{
                    width: 346px;
                    height: 250px;
                    img{
                        left: 22px;
                        top: 20px;
                    }
                    h4{
                        left: 94px; 
                    }
                    span{
                        left: 94px;
                    };
                    p{
                        left: 22px;   
                    } 
                }
                .review2{
                    display: none;
                }
                .video2{
                    iframe{
                        width: 361px;
                        height: 250px;
                    }
                }
            }
        }
    
    }

    // footer

    .footer{
        margin-top: 50px;
        .footer_top{
            display: none;
        }
        .footer_top_media725{
            display: block;
            background-color: #292929;
            .containerNeiro{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .form_top{
                    display: flex;
                    flex-direction: column;
                    p{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 18px;
                        margin: 25px 0 14px 0;
                        text-align: center;
                    }
                    .form{
                        border: 1px solid transparent;
                        border-radius: 5px;
                        overflow: hidden;
                        margin-bottom: 29px;
                        input{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 18px;
                            color: #707070;
                            padding: 17px 73px 15px 14px;
                            background: #FFFFFF;
                            border: none;
                        }
                        .button_input{
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 18px;
                            color: #FFFFFF;
                            background: #F07FAE;
                            padding: 17px 19px 15px 19px;
                            border: none;
                            margin-left: -5px;  
                        }
        
                    }
                }
                .phone_top{
                    display: flex;
                    flex-direction: column;
                    
                    .phone_footer{
                        display: flex;
                        justify-content: center;
                        margin-top: 25px;
                        span{
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 18px;
                            margin: 0 26px 0 10px;
                        };
                        p{
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 18px;
                            margin: 0;
                        }
                    }
                    .batton_footer{
                        button{
                            border: 2px solid #FFFFFF;
                            border-radius: 5px;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 18px;
                            color: #FFFFFF;
                            background-color: #292929;
                            padding: 15px 28px 12px 28px;
                            margin: 11px 0 29px 0;
                            transition: 0.2;
                        }
                        button:hover{
                            border: 2px solid #F07FAE;
                        }
                    }
                }

            }
        }

        .footer_centre{
            .containerNeiro{
                border: 0.1px solid transparent;
                .logo_footer_media725{
                    a{
                        display: block;
                        margin-top: 20px;
                    }  
                }
                .centre_text{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    img:nth-of-type(1){
                        display: none;  
                    }
                    .information_footer, .webinar_footer, .news_footer, .contacts_footer{
                        .one{
                            margin: 24px 0 9px 0; 
                        }
                    }
                }
            }
        }
    }




}













@media all and (max-width: 770px) {
    .containerNeiro{
        width: 290px;
        max-width: 290px;
    }
    @mixin text1
    {
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        color: #707070;
    }
    @mixin text2
    {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #333333;
    }
    @mixin text3
    {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
    @mixin h2{
        font-weight: 700;
        font-size: 30px;
        line-height: 18px;
        color: #333333;
    }
    .header_top{
        display: none;
    }
    .header_top{
        position: absolute;
        right: -100%;
        top: 0px;
        display: flex;
        flex-direction: column;
        border: none;
        z-index: 10;
        width: 60%;
        height: 1000vh;
        background-color: #FFFFFF;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.5s;
        .menu{
            flex-direction: column;
            align-items: flex-start;
            margin-top: 19px;
            a{
                margin: 0  0 20px 30px;
            }     
        }
        .network{
            margin-left: 30px;
            a{
                margin: 0 15px 0 0px;
            }
            
        }
        

    }

    .header_top_mobil{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EEEEEE;
        a{
            margin-bottom: 15px;
        }
        img:nth-child(2){
            position: relative;
            z-index: 15;
        }
    }
    .header_center_media725{
        display: none;
    }
    .header_center{
       display: none;
    }
    .header_center_mobil{
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid transparent;
        .info{ 
            margin: 13px 0 0px 0;
            .info_top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 16px;
                    height: 16px;
                } 
                a{
                    @include text2();
                    font-size: 18px;
                    margin: 0px 0px 0px 10px;
                }
            }
            p{
                @include text1();
                font-size: 14px;
                line-height: 18px; 
                margin-top: 1px;
            }   
        }
        .personbasket{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            a:nth-of-type(2){
                margin: 0 15px 0 15px;
            }
            .ellipse{
                background: #F07FAE;
                border-radius: 14px;
                position: absolute;
                top: -5px;
                right: -10px;
                p{
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 18px;
                    color: #FFFFFF;
                    padding: 0px 5px;
                }
            }
        }
    }
    
    .header_bottom{
        display: none;
    }
    .header_bottom_media725{
        display: none;
    }
    .header_bottom_mobil{
        display: block;
        width: 290px;
        height: 50px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;

        a{
            border: 1px solid transparent;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            color: #333333;
            
        }
        
    }













    .banner{
        display: none;
    }
    .carousel{
        display: block;
        width: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
            .carousel-indicators{
                bottom: -45px;
                border-top: none;
                border-bottom: none;
                opacity: 1;
                button{
                    background-color: #DFDFDF;  
                    width:6px;
                    height: 6px;
                    border-radius: 50%;
                    opacity: 1;
                } 
                // button.active{
                //     width:6px;
                //     height: 6px;
                //     border-radius: 50%;
                //     opacity: 1;
                //     border: 3px solid #F07FAE;
                //     background-color: #FFFFFF;
                // }
            }
        .carousel-inner{
                .board{
                    width: 290px;
                    height: 392px;
                    background-image: url("../img/Fon_all.jpg"); 
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    border-radius: 10px;
                    position: relative;
                    h1{
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 30px;
                        color: #FFFFFF;
                        position: absolute;
                        left: 48px;
                        top: 28px;   
                    }
                    img{
                        position: absolute;
                        left: 45px;
                        top: 71px; 
                    }
                    a{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 18px;
                        color: #333333;
                        padding: 17px 28px 15px 30px;
                        border: 1px solid transparent;
                        background: #FFFFFF;
                        border-radius: 5px;
                        position: absolute;
                        left: 43px;
                        top: 312px;
         
                    }
                    }
                .stand, .neuro8{
                    width: 290px;
                    height: 392px;
                    opacity: 0.9;
                    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
                    border-radius: 10px;
                    position: relative;
                    h1{
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 25px;
                        color: #FFFFFF;
                        position: absolute;
                    }
                    a{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 17px;
                        text-decoration-line: underline;
                        color: #FFFFFF;
                        position: absolute;
                    }
                    a::after{
                        content: url("../img/Vector.svg");
                        margin-left: 10px;
                    }
                }
                .stand{
                    background: linear-gradient(0deg, rgba(0, 141, 65, 0.2), rgba(0, 141, 65, 0.2)), linear-gradient(113.62deg, #2AB86B 0%, #5DE39A 97.37%);
    
                    h1{
                        left: 40px;
                        top: 28px;
                        text-align: center; 
                    }
                    img{
                        position: absolute;
                        left: 48px;
                        top: 97px; 
                    }
                    a{
                        left: 99px;
                        top: 336px;
                    }
                }
                .neuro8{
                    background: linear-gradient(112.82deg, #F68AB1 0%, #FEB5CF 100%);
    
                    h1{
                        left: 67px;
                        top: 28px; 
                    }
                    a{
                        left: 99px;
                        top: 336px;
                    }
                    img{
                        position: absolute;
                        left: 45px;
                        top: 58px; 
                    }
                }
        }  
    }

    
    // hat шапка для блоков

    .hat{
        margin-bottom: 12x;
        a:nth-child(1){
            font-size: 20px;
        }
        a:nth-child(3){
            display: block;
        }
        a:nth-child(2){
            display: none;
        }
    }
    
    // productsmonth
    .products{
        display: none;
    }


// products описание стилевых свойств продуктов

.products1, .products2, .products3, .products4{
    width: 140px;
    height: 282px;
    
    span:nth-of-type(1){
        left: 15px;
        top: 15px;
     
    }
    span:nth-of-type(2){
        left: 15px;
        top: 43px;
    }
    img:nth-of-type(1){
        display: none;
    }
    img:nth-of-type(2){
        display: block;
        position: absolute;
        left: 20px;
        top: 40px;
    }
    h3:nth-of-type(1){
        font-size: 16px;
        line-height: 16px;
        left: 16px;
        top: 175px;
    }
    p{
        font-size: 15px;
        line-height: 16px;
        left: 16px;
        top: 209px;
    }
    .price{
        p:nth-of-type(1){
            font-size: 18px;
            left: 16px;
            top: 263px;
        }
        p:nth-of-type(2){
            font-size: 14px;
            left: 16px;
            top: 283px;
        }
    }
    .buy{
        width: 119px;
        height: 50px;
        left: 89px;
        top: 254px;
        input{
            left: 4px;
        }
        button{
            width: 67px;
            height: 52px;
        }
    }
    a{
        padding: 12px 59px 10px 59px;
        left: 15px;
        top: 319px; 
    }
    }
    .products2{
    img:nth-of-type(2){
        display: block;
        position: absolute;
        left: 44px;
        top: 24px;
    }
    }
    .products3{
    h3:nth-of-type(1){
        display: none;
    }
    h3:nth-of-type(2){
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #333333;
        position: absolute;
        left: 16px;
        top: 175px;
    }
    img:nth-of-type(2){
        display: block;
        position: absolute;
        left: 18px;
        top: 25px;
    }
    }
    .products4{
    img{
        left: 48px;
        top: 30px; 
    }
    }   
    .products1:hover, .products2:hover, .products3:hover, .products4:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    } 


    // For neuropsychologists
    .neuropsychologists{
        margin: 36px 0 40px 0;
        .containerNeiro{
            .video_products{
                flex-direction: column;
                .video_psychologists{
                    margin-bottom: 10px;
                    iframe{
                        width: 290px;
                        height: 200px;
                    }
                }
                .products{
                    ul{
                        display: block;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        li:nth-of-type(2){
                            display: block;
                        }
                    }
                }
            }
    
        }
    }


    // aboutus

    .aboutusAll{
        margin: 40px 0 36px 0;
        .containerNeiro{
            .hat{
                margin-top: 40px;
            } 
            .aboutus{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0px 0 40px 0;
                .video1{
                    iframe{
                        width: 290px;
                        height: 200px;
                    }        
                }
                .text_certificates{
                    display: flex;
                    flex-direction: column;
                    .text{
                        h6{
                            font-size: 18px;
                            line-height: 18px;
                            margin: 16px 0 4px 0; 
                        }
                        p:nth-of-type(1){
                            display: none;
                        }
                        p:nth-of-type(2){
                            display: none;
                        }
                        p:nth-of-type(3){
                            display: block;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            color: #333333;
                            margin: 4px 0 10px 0;
                        }

                        a{
                            font-size: 18px;
                            line-height: 18px;  
                        }
                    }
                    .certificates {
                        a:nth-child(even){
                            display: block; 
                        }
                        a:nth-child(odd){
                            display: none; 
                        }
                    } 
                }
            }
        }
    }

    // reviews 





}